* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 95%);
}

#flex_container {
  font-size: 15px;
  padding: 60px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  max-width: 912px;
  height: 498px;
  border-radius: 10px;
}

.primary_font {
  font-weight: 700px;
  font-family: "Big Shoulders Display", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

#first_frame {
  background-color: hsl(31, 77%, 52%);
  color: hsl(31, 77%, 52%);
}

#second_frame {
  background-color: hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%);
}

#third_frame {
  background-color: hsl(179, 100%, 13%);
  color: hsl(179, 100%, 13%);
}
.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 304;
  height: 498;
  padding: 20px;
  overflow: hidden;
}
.secondary_font {
  display: flex;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  /* height: 80px; */
  align-items: flex-start;
  color: hsla(0, 0%, 100%, 0.75);
}

.img {
  display: contents;
  background-color: transparent;
  align-items: flex-start;
  width: 60px;
  height: 40px;
}

button {
  display: flex;
  border: none;
  border-radius: 33px;
  justify-content: center;
  width: 146px;
  height: 48px;
  align-items: center;
  color: inherit;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}

*/ p {
  line-height: 2;
  font-size: 1px;
  color: hsla(0, 0%, 100%, 0.75);
}
